.callout_parent_box{position:relative;z-index:6}
.callout_outer_box{background-repeat:no-repeat;position:absolute}
.callout_inner_box{margin:15px;position:relative;overflow:hidden;zoom:1}
.callout_inner_box .close_x_wrapper{position:absolute;top:8px;right:8px}
.callout_inner_box .close_x_wrapper .uiCloseButton{display:block}
.callout_border{background:#525252;border-radius:8px;bottom:0;left:0;opacity:.7;position:absolute;right:0;top:0}
.callout_content{border:1px solid #555;position:relative}
.callout_buttons{background:#f2f2f2;padding:6px 7px 6px 8px}
.callout_arrow_left{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yF/r/l2vGZXcaq0M.png)}
.callout_arrow_right{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yW/r/5GjpfuVilIN.png)}
.callout_arrow_up{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yy/r/lGuyaNRz5TI.png)}
.callout_arrow_down{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yh/r/yuTcDB9W2aw.png)}
.callout_footer_link{margin-top:4px}
#hovercardPreload{height:0;left:0;overflow:hidden;position:absolute;top:0;width:0}
.HovercardContent{position:relative}
.HovercardOverlay{height:0;left:0;position:absolute;top:0;width:0;z-index:200}
.hovercard{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y4/r/-PAXP-deijE.gif) no-repeat;padding-top:9px;position:absolute}
.HovercardFixed{position:fixed}
.hovercard .arrow{height:9px;float:left;margin-top:-2px;width:63px}
.HovercardWidthCheck{position:absolute;height:1px;width:100%;top:-1px}
.HovercardFromRight .arrow{float:right;right:0}
.HovercardBelow .arrow{position:absolute;top:4px}
.hovercard .arrow i{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/IJYgcESal33.png) no-repeat -480px -170px;display:block;height:9px;margin:0 25px;width:13px}
.HovercardWithFooter .arrow i{background-position:-480px -180px}
.HovercardBelow .arrow i{background-position:-480px -190px}
.hovercard .stage{background:#fff;border:1px solid #333;border-bottom:2px solid #283e6a;min-width:275px;max-width:350px;padding:10px;width:auto}
.hovercard .photo{background-repeat:no-repeat;background-position:center 25%;display:block;width:100px}
.hovercard .actions{border-style:solid none none;margin:10px -10px -10px}
.hovercard .action{line-height:15px}
.hovercard .action .img{float:left}
.hovercard a.hover .img{text-decoration:none}
.hovercardLocator{display:inline-block;visibility:hidden;width:0}
.chatIdle.hovercardChatButtonIdle,.chatOnline.hovercardChatButtonActive,.hovercardChatButtonOffline{display:block}
.chatIdle.hovercardChatButtonOffline,.chatOnline.hovercardChatButtonOffline,.hovercardChatButtonActive,.hovercardChatButtonIdle{display:none}
.MessagingHoverlist a.allLink{background:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;margin:0 -10px -10px -10px;padding:8px;text-align:center}
.MessagingHoverlist a.allLink:hover{background:#6d84b4;border-color:#3b5998;color:#fff;text-decoration:none}
.placesOptInCalloutImageHorizontal{background-position:10% 0;top:64px;width:433px;left:-20px}
.placesOptInStreamStory{border-width:0 0 1px 0;border-color:#e9e9e9;border-style:solid}

#bootloader_lForV { height: 42px; }