.sp_8494sx{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yt/r/z6FuN8lW810.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_762c05{background-position:-16px -30px}
.selected .sx_762c05{background-position:-0px -30px}
.sx_01720b{background-position:-49px -30px}
.selected .sx_01720b{background-position:-33px -30px}
.sx_bac013{background-position:-82px -30px}
.selected .sx_bac013{background-position:-66px -30px}
.sx_aa6b0a{width:13px;height:13px;background-position:-119px -48px}
.sx_1d857d{width:13px;height:13px;background-position:-135px -48px}
.sx_a28fc2{width:7px;height:14px;background-position:-300px -0px}
.sx_f7bfd8{width:7px;height:14px;background-position:-300px -15px}
.sx_875bff{width:10px;height:14px;background-position:-109px -30px}
.selected .sx_875bff{background-position:-99px -30px}
.sx_bd4e93{background-position:-0px -47px}
.sx_02ccbb{width:10px;height:8px;background-position:-120px -30px}
.sx_abbbfc{background-position:-17px -47px}
.sx_3d60f8{background-position:-34px -47px}
.sx_2e2f2c{background-position:-51px -47px}
.sx_bd3d6f{width:15px;background-position:-102px -47px}
.sx_1a25fe{background-position:-68px -47px}
.sx_4c19ad{background-position:-85px -47px}
.sp_a9ztz4{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yb/r/lCznBcRYSg8.png);background-repeat:no-repeat;display:inline-block;height:31px;width:24px}
.sx_9afb0d{width:16px;height:16px;background-position:-287px -85px}
.selected .sx_9afb0d{background-position:-271px -85px}
.sx_fcab53{width:11px;height:11px;background-position:-278px -220px}
.selected .sx_fcab53{background-position:-267px -220px}
.sx_dde0c9{width:11px;height:11px;background-position:-296px -235px}
.selected .sx_dde0c9{background-position:-285px -235px}
.sx_b7e455{width:11px;height:11px;background-position:-147px -312px}
.selected .sx_b7e455{background-position:-136px -312px}
.sx_c42f4a{width:7px;height:12px;background-position:-304px -85px}
.sx_eef53a{width:7px;height:7px;background-position:-296px -73px}
.sx_75b944{width:26px;height:24px;background-position:-235px -235px}
.sx_d7f549{width:26px;height:24px;background-position:-208px -235px}
.sx_ac71bf{width:11px;height:14px;background-position:-300px -0px}
.sx_3c008f{width:22px;height:25px;background-position:-23px -312px}
.sx_30499c{width:22px;height:25px;background-position:-264px -267px}
.sx_8cf732{width:21px;height:25px;background-position:-92px -312px}
.sx_e39903{width:21px;height:25px;background-position:-114px -312px}
.sx_70c596{width:22px;height:25px;background-position:-46px -312px}
.sx_08ec4b{width:22px;height:25px;background-position:-69px -312px}
.sx_029413{width:7px;height:14px;background-position:-0px -153px}
.sx_3a4872{width:7px;height:14px;background-position:-0px -123px}
.sx_5c5589{width:14px;height:14px;background-position:-296px -31px}
.sx_3bc4b5{width:8px;height:12px;background-position:-296px -60px}
.sx_d7c96d{width:17px;height:16px;background-position:-292px -115px}
.sx_40b870{width:7px;height:14px;background-position:-0px -183px}
.sx_aedefb{width:7px;height:14px;background-position:-0px -213px}
.sx_e4c25c{width:11px;height:12px;background-position:-0px -23px}
.sx_ceb6a2{width:22px;height:25px;background-position:-287px -267px}
.sx_5ba8f4{width:22px;height:25px;background-position:-0px -312px}
.sx_d17078{width:16px;height:16px;background-position:-292px -200px}
.sx_e04266{width:16px;height:16px;background-position:-0px -338px}
.sx_5ac24a{width:10px;height:15px;background-position:-296px -15px}
.sx_595fd4{width:13px;height:8px;background-position:-284px -102px}
.selected .sx_595fd4{background-position:-271px -102px}
.sx_3f05fa{background-position:-271px -17px}
.sx_d331ce{background-position:-267px -117px}
.sx_a3a5aa{height:30px;background-position:-214px -269px}
.sx_aec5bb{background-position:-114px -269px}
.sx_421dcb{background-position:-139px -269px}
.sx_3587dc{background-position:-271px -52px}
.sx_15c348{height:29px;background-position:-239px -269px}
.sx_a03c75{background-position:-267px -152px}
.sx_881442{background-position:-267px -187px}
.sx_9e4aa6{background-position:-89px -269px}
.sx_e6b1ea{height:30px;background-position:-189px -269px}
.sx_fc41e5{background-position:-164px -269px}
.sx_bff1ca{width:16px;height:16px;background-position:-292px -183px}
.sx_25f64f{width:16px;height:16px;background-position:-292px -166px}
.sx_b7d9a2{width:16px;height:16px;background-position:-292px -149px}
.sx_c351d2{width:16px;height:16px;background-position:-292px -132px}
.sx_17b78f{width:7px;height:4px;background-position:-304px -73px}
.sx_27e15f{width:7px;height:4px;background-position:-298px -102px}
.sx_5f31f0{width:103px;background-position:-0px -235px}
.sx_cca762{width:103px;height:30px;background-position:-104px -235px}
.sx_2e43a9{width:88px;height:44px;background-position:-0px -267px}
.sx_fed252{width:9px;height:13px;background-position:-296px -46px}
.sx_38c700{width:22px;height:19px;background-position:-262px -235px}
.sp_bnh11e{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y6/r/eMgtLFEQZJp.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_733a82{background-position:-16px -0px}
.selected .sx_733a82{background-position:-0px -0px}
.sx_91bb18{background-position:-16px -17px}
.selected .sx_91bb18{background-position:-0px -17px}
.sx_b7bbaf{background-position:-16px -34px}
.selected .sx_b7bbaf{background-position:-0px -34px}
.sx_61fdb2{background-position:-16px -51px}
.selected .sx_61fdb2{background-position:-0px -51px}
.sx_68e06a{background-position:-16px -68px}
.selected .sx_68e06a{background-position:-0px -68px}
.sx_1b9a32{background-position:-0px -105px}
.sx_d210c8{height:19px;background-position:-0px -85px}
.sp_cgvnep{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yU/r/WMfq-az5bpY.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d60dd6{height:10px;background-position:-136px -136px}
.sx_ebc763{width:11px;height:11px;background-position:-4px -8px}
.sx_e67731{width:17px;height:17px;background-position:-0px -118px}
.sx_7c96c8{width:4px;height:8px;background-position:-191px -54px}
.sx_09fe22{width:4px;height:8px;background-position:-191px -45px}
.sx_a41210{width:4px;height:8px;background-position:-191px -36px}
.sx_b95d8b{width:4px;height:8px;background-position:-191px -27px}
.sx_3846b5{width:13px;height:14px;background-position:-0px -170px}
.sx_544e9f{height:14px;background-position:-85px -136px}
.sx_17850a{background-position:-155px -118px}
.sx_3b6b93{background-position:-138px -118px}
.sx_445ec4{background-position:-121px -118px}
.sx_75d822{width:9px;height:5px;background-position:-67px -153px}
.sx_2a0b95{height:17px;background-position:-53px -118px}
.sx_8e0801{background-position:-104px -118px}
.sx_6c8644{height:15px;background-position:-51px -136px}
.sx_37dd04{height:10px;background-position:-153px -136px}
.sx_e3cce9{width:13px;height:10px;background-position:-170px -136px}
.sx_7cd7ae{width:12px;height:11px;background-position:-43px -153px}
.sx_3c2efc{width:15px;height:13px;background-position:-14px -153px}
.sx_413684{width:10px;background-position:-189px -118px}
.sx_f4c02e{background-position:-70px -118px}
.sx_c0cebc{height:15px;background-position:-68px -136px}
.sx_544493{width:13px;background-position:-0px -153px}
.sx_e946da{background-position:-87px -118px}
.sx_8dfa4f{height:14px;background-position:-102px -136px}
.sx_3d4e65{width:17px;height:17px;background-position:-18px -118px}
.sx_b9df77{height:15px;background-position:-34px -136px}
.sx_fb752b{background-position:-172px -118px}
.sx_8e6867{background-position:-0px -136px}
.sx_7a43ed{height:17px;background-position:-36px -118px}
.sx_5da777{width:11px;height:9px;background-position:-184px -136px}
.sx_1ae75d{background-position:-17px -136px}
.sx_f21c16{height:10px;background-position:-119px -136px}
.sx_78b914{width:10px;height:10px;background-position:-56px -153px}
.sx_4985ff{width:1px;height:1px;background-position:-196px -27px}
.sx_3ea55f{width:12px;height:12px;background-position:-30px -153px}
.sx_155bd9{width:5px;height:3px;background-position:-191px -63px}
.sx_ef6eba{width:190px;height:90px;background-position:-0px -27px}
.sp_ctc6t6{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yi/r/CoUN0NqHxMj.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_0868d3{background-position:-16px -0px}
.selected .sx_0868d3{background-position:-0px -0px}
.sx_a8d061{background-position:-16px -17px}
.selected .sx_a8d061{background-position:-0px -17px}
.sx_9629c0{background-position:-16px -34px}
.selected .sx_9629c0{background-position:-0px -34px}
.sp_cy6led{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yX/r/RoUXfyzjA4r.png);background-repeat:no-repeat;display:inline-block;height:14px;width:500px}
.sx_65a67a{width:26px;height:24px;background-position:-66px -392px}
.sx_7bf9f8{width:20px;height:24px;background-position:-0px -445px}
.sx_a1e7f4{width:7px;background-position:-493px -392px}
.sx_8b938a{width:8px;height:12px;background-position:-280px -437px}
.sx_bf7ed3{width:7px;background-position:-493px -407px}
.sx_ae7647{width:7px;background-position:-493px -422px}
.sx_6dbe59{width:14px;background-position:-332px -452px}
.sx_3b7e90{width:19px;height:4px;background-position:-141px -392px}
.sx_6abefc{width:10px;height:10px;background-position:-33px -425px}
.sx_c94914{width:10px;height:10px;background-position:-22px -425px}
.sx_faec83{width:10px;height:10px;background-position:-11px -425px}
.sx_ee9921{width:10px;height:10px;background-position:-0px -425px}
.sx_5a5633{width:13px;height:8px;background-position:-141px -397px}
.sx_f5cd7d{width:11px;background-position:-129px -392px}
.selected .sx_f5cd7d{background-position:-118px -392px}
.sx_6d8759{width:8px;background-position:-323px -452px}
.selected .sx_6d8759{background-position:-315px -452px}
.sx_94f8b0{width:12px;background-position:-105px -392px}
.selected .sx_94f8b0{background-position:-93px -392px}
.sx_6cb664{width:9px;background-position:-239px -437px}
.selected .sx_6cb664{background-position:-230px -437px}
.sx_fee113{width:9px;height:12px;background-position:-258px -437px}
.selected .sx_fee113{background-position:-249px -437px}
.sx_0b8fde{width:5px;height:3px;background-position:-161px -392px}
.sx_a95df1{width:16px;height:16px;background-position:-230px -452px}
.sx_1b60fb{width:16px;height:16px;background-position:-247px -452px}
.sx_2dde1d{width:16px;height:16px;background-position:-264px -452px}
.sx_75189f{width:16px;height:16px;background-position:-281px -452px}
.sx_177eae{width:16px;height:16px;background-position:-298px -452px}
.sx_677629{width:10px;height:9px;background-position:-93px -407px}
.sx_256f88{width:11px;height:12px;background-position:-268px -437px}
.sx_bc5c5e{width:32px;height:32px;background-position:-33px -392px}
.sx_deb346{width:32px;height:32px;background-position:-0px -392px}
.sx_fd5a48{width:15px;height:15px;background-position:-0px -477px}
.sx_f607f5{width:8px;height:13px;background-position:-399px -452px}
.sx_b46d87{width:9px;height:13px;background-position:-389px -452px}
.sx_0fa8c9{width:11px;height:13px;background-position:-347px -452px}
.sx_579259{width:9px;height:13px;background-position:-379px -452px}
.sx_132940{width:9px;height:13px;background-position:-369px -452px}
.sx_a3a10d{width:9px;height:13px;background-position:-359px -452px}
.sx_26fde6{width:9px;height:5px;background-position:-155px -397px}
.sx_fe8de2{height:48px;background-position:-0px -343px}
.sx_ad9622{height:48px;background-position:-0px -294px}
.sx_e9c125{height:48px;background-position:-0px -245px}
.sx_eb56b3{height:48px;background-position:-0px -196px}
.sx_a5068f{height:48px;background-position:-0px -147px}
.sx_d14c26{height:48px;background-position:-0px -98px}
.sx_66789c{height:48px;background-position:-0px -49px}
.sx_42a1ce{height:48px;background-position:-0px -0px}
.sp_yeww8o{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yn/r/PU1D_ucYgNb.png);background-repeat:no-repeat;display:inline-block;height:14px;width:8px}
.sx_5adae8{background-position:-8px -49px}
.selected .sx_5adae8{background-position:-0px -49px}
.sx_ddb531{width:12px;background-position:-12px -0px}
.selected .sx_ddb531{background-position:-0px -0px}
.sx_bc3f20{width:11px;background-position:-11px -15px}
.selected .sx_bc3f20{background-position:-0px -15px}
.sx_23a95a{width:10px;height:10px;background-position:-0px -79px}
.sx_3ca9db{background-position:-8px -64px}
.selected .sx_3ca9db{background-position:-0px -64px}
.sx_a4bf4a{width:18px;height:18px;background-position:-0px -30px}

#bootloader_mxIF4 { height: 42px; }