.sp_19x6ut{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y3/r/pn00of8thEn.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_84e030{width:8px;height:14px;background-position:-8px -197px}
.selected .sx_84e030{background-position:-0px -197px}
.sx_0110f1{width:10px;height:12px;background-position:-10px -158px}
.selected .sx_0110f1{background-position:-0px -158px}
.sx_85b076{width:10px;height:12px;background-position:-10px -171px}
.selected .sx_85b076{background-position:-0px -171px}
.sx_6fe29d{width:10px;height:12px;background-position:-10px -184px}
.selected .sx_6fe29d{background-position:-0px -184px}
.sx_5a9799{background-position:-16px -0px}
.selected .sx_5a9799{background-position:-0px -0px}
.sx_be12b5{width:13px;height:12px;background-position:-13px -119px}
.selected .sx_be12b5{background-position:-0px -119px}
.sx_519ae4{width:13px;height:12px;background-position:-13px -132px}
.selected .sx_519ae4{background-position:-0px -132px}
.sx_2d4827{width:13px;height:12px;background-position:-13px -145px}
.selected .sx_2d4827{background-position:-0px -145px}
.sx_8781f5{background-position:-16px -17px}
.selected .sx_8781f5{background-position:-0px -17px}
.sx_c59bbf{background-position:-16px -34px}
.selected .sx_c59bbf{background-position:-0px -34px}
.sx_03518d{background-position:-16px -51px}
.selected .sx_03518d{background-position:-0px -51px}
.sx_99c6ec{background-position:-16px -68px}
.selected .sx_99c6ec{background-position:-0px -68px}
.sx_ec19d7{background-position:-16px -85px}
.selected .sx_ec19d7{background-position:-0px -85px}
.sx_7164aa{background-position:-16px -102px}
.selected .sx_7164aa{background-position:-0px -102px}
.sp_5cbv34{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/8NdaSxJ3uw7.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_1c09fe{width:7px;height:14px;background-position:-493px -49px}
.sx_840d6d{width:29px;height:30px;background-position:-0px -83px}
.sx_dd3c01{width:29px;height:30px;background-position:-30px -83px}
.sx_3982a4{width:29px;height:30px;background-position:-90px -83px}
.sx_91425a{width:29px;height:30px;background-position:-60px -83px}
.sx_a3033a{height:9px;background-position:-21px -49px}
.sx_fc7358{height:9px;background-position:-55px -49px}
.sx_4fdba3{width:9px;background-position:-220px -64px}
.sx_822e78{width:9px;background-position:-210px -64px}
.sx_43aaf8{height:9px;background-position:-38px -49px}
.sx_11b08d{width:17px;background-position:-124px -64px}
.selected .sx_11b08d{background-position:-107px -64px}
.sx_dc73eb{width:17px;background-position:-89px -64px}
.selected .sx_dc73eb{background-position:-72px -64px}
.sx_4e477f{width:10px;height:10px;background-position:-316px -64px}
.sx_f004c9{width:10px;height:10px;background-position:-305px -64px}
.sx_c0b9b3{width:10px;height:10px;background-position:-294px -64px}
.sx_5f0713{width:17px;background-position:-54px -64px}
.selected .sx_5f0713{background-position:-37px -64px}
.sx_8e4279{width:10px;height:14px;background-position:-10px -49px}
.selected .sx_8e4279{background-position:-0px -49px}
.sx_d4a3d4{background-position:-193px -64px}
.sx_fecc58{width:18px;height:18px;background-position:-18px -64px}
.sx_fecc58:hover{background-position:-0px -64px}
.sx_e81ea5{background-position:-176px -64px}
.sx_af7c75{background-position:-159px -64px}
.sx_657d51{background-position:-142px -64px}
.sx_34dbbd{width:11px;height:13px;background-position:-230px -64px}
.sx_d9be58{width:9px;height:13px;background-position:-264px -64px}
.sx_52a408{width:10px;height:13px;background-position:-242px -64px}
.sx_fc2311{width:10px;height:13px;background-position:-253px -64px}
.sx_d2a11a{width:9px;height:13px;background-position:-274px -64px}
.sx_7a1c33{width:9px;height:13px;background-position:-284px -64px}
.sx_c9a42f{width:500px;height:48px;background-position:-0px -0px}
.sp_6pp38j{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y_/r/9YK1jWBK-cC.png);background-repeat:no-repeat;display:inline-block;height:48px;width:500px}
.sx_958ad0{width:26px;height:24px;background-position:-0px -392px}
.sx_ec605c{width:20px;height:24px;background-position:-0px -430px}
.sx_7c17d2{width:7px;height:14px;background-position:-493px -392px}
.sx_0d10de{width:8px;height:12px;background-position:-376px -422px}
.sx_38fa82{width:7px;height:14px;background-position:-493px -407px}
.sx_92e106{width:14px;height:14px;background-position:-298px -422px}
.sx_fcf59b{width:10px;height:10px;background-position:-418px -422px}
.sx_500fb3{width:10px;height:10px;background-position:-407px -422px}
.sx_3d4c5a{width:10px;height:10px;background-position:-396px -422px}
.sx_3a57d9{width:10px;height:10px;background-position:-385px -422px}
.sx_e800bf{width:13px;height:8px;background-position:-90px -392px}
.sx_9fe710{width:11px;height:14px;background-position:-38px -392px}
.selected .sx_9fe710{background-position:-27px -392px}
.sx_53f1b2{width:8px;height:14px;background-position:-289px -422px}
.selected .sx_53f1b2{background-position:-281px -422px}
.sx_8c3b1a{width:9px;height:12px;background-position:-80px -392px}
.selected .sx_8c3b1a{background-position:-71px -392px}
.sx_581f18{width:10px;height:14px;background-position:-60px -392px}
.selected .sx_581f18{background-position:-50px -392px}
.sx_0af41d{width:5px;height:3px;background-position:-114px -392px}
.sx_2f033b{width:16px;height:16px;background-position:-247px -422px}
.sx_42bcc7{width:8px;height:14px;background-position:-272px -422px}
.selected .sx_42bcc7{background-position:-264px -422px}
.sx_022449{width:16px;height:16px;background-position:-230px -422px}
.sx_2b5522{width:10px;height:9px;background-position:-27px -407px}
.sx_146c18{width:11px;height:12px;background-position:-364px -422px}
.sx_978963{width:8px;height:13px;background-position:-355px -422px}
.sx_c40910{width:9px;height:13px;background-position:-325px -422px}
.sx_61150d{width:11px;height:13px;background-position:-313px -422px}
.sx_441770{width:9px;height:13px;background-position:-335px -422px}
.sx_4aa42b{width:9px;height:13px;background-position:-345px -422px}
.sx_4a4371{width:9px;height:5px;background-position:-104px -392px}
.sx_d7ded9{background-position:-0px -343px}
.sx_87c312{background-position:-0px -294px}
.sx_59fef5{background-position:-0px -245px}
.sx_e281c5{background-position:-0px -196px}
.sx_71b620{background-position:-0px -147px}
.sx_eeb14c{background-position:-0px -98px}
.sx_830edf{background-position:-0px -49px}
.sx_0cf2c9{background-position:-0px -0px}
.sp_7ki4h6{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yu/r/REo0Z4_4P5C.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_8701b7{background-position:-16px -30px}
.selected .sx_8701b7{background-position:-0px -30px}
.sx_bb54d8{background-position:-49px -30px}
.selected .sx_bb54d8{background-position:-33px -30px}
.sx_3d9889{background-position:-82px -30px}
.selected .sx_3d9889{background-position:-66px -30px}
.sx_57688e{background-position:-115px -30px}
.selected .sx_57688e{background-position:-99px -30px}
.sx_5167c6{width:13px;height:13px;background-position:-118px -48px}
.sx_7cff74{width:13px;height:13px;background-position:-102px -48px}
.sx_451e8c{width:11px;height:11px;background-position:-189px -30px}
.selected .sx_451e8c{background-position:-178px -30px}
.sx_233e7a{width:11px;height:11px;background-position:-166px -30px}
.selected .sx_233e7a{background-position:-155px -30px}
.sx_77b923{width:11px;height:11px;background-position:-143px -30px}
.selected .sx_77b923{background-position:-132px -30px}
.sx_cf4198{width:7px;height:14px;background-position:-300px -15px}
.sx_205b44{width:7px;height:14px;background-position:-300px -0px}
.sx_5ace9d{background-position:-0px -47px}
.sx_52e956{width:10px;height:8px;background-position:-201px -30px}
.sx_8f0993{background-position:-17px -47px}
.sx_bd91ce{width:15px;background-position:-85px -47px}
.sx_f946a9{background-position:-34px -47px}
.sx_7bb5f1{background-position:-51px -47px}
.sx_2a1c88{background-position:-68px -47px}
.sp_8n1pd0{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/UT9wOfSw55W.png);background-repeat:no-repeat;display:inline-block;height:10px;width:13px}
.sx_be615e{background-position:-0px -17px}
.sx_20b2e8{width:17px;height:16px;background-position:-17px -0px}
.selected .sx_20b2e8{background-position:-0px -0px}
.sp_8sp5m7{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yT/r/8XEoShCvSWj.png);background-repeat:no-repeat;display:inline-block;height:14px;width:8px}
.sx_fd00c4{background-position:-27px -66px}
.selected .sx_fd00c4{background-position:-19px -66px}
.sx_358486{width:12px;background-position:-12px -51px}
.selected .sx_358486{background-position:-0px -51px}
.sx_101e5d{width:11px;background-position:-36px -51px}
.selected .sx_101e5d{background-position:-25px -51px}
.sx_c85a7e{width:10px;height:10px;background-position:-36px -66px}
.sx_dd5fce{width:18px;height:18px;background-position:-0px -66px}
.sx_cf9898{width:50px;height:50px;background-position:-0px -0px}
.sp_akz8ij{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yQ/r/X3VDNfwipSJ.png);background-repeat:no-repeat;display:inline-block;height:31px;width:24px}
.sx_ec3c76{width:16px;height:16px;background-position:-287px -85px}
.selected .sx_ec3c76{background-position:-271px -85px}
.sx_918852{width:7px;height:12px;background-position:-304px -85px}
.sx_db1e31{width:7px;height:7px;background-position:-296px -73px}
.sx_c00625{width:26px;height:24px;background-position:-235px -235px}
.sx_0661c8{width:26px;height:24px;background-position:-208px -235px}
.sx_4aeafe{width:11px;height:14px;background-position:-300px -0px}
.sx_128666{width:22px;height:25px;background-position:-69px -312px}
.sx_38a4f3{width:22px;height:25px;background-position:-46px -312px}
.sx_df1d9d{width:21px;height:25px;background-position:-114px -312px}
.sx_86b76b{width:21px;height:25px;background-position:-92px -312px}
.sx_157cbe{width:22px;height:25px;background-position:-23px -312px}
.sx_36b2e5{width:22px;height:25px;background-position:-0px -312px}
.sx_c2d5c1{width:7px;height:14px;background-position:-0px -213px}
.sx_8f6c4f{width:7px;height:14px;background-position:-0px -183px}
.sx_a5c0f6{width:14px;height:14px;background-position:-296px -31px}
.sx_120f72{width:8px;height:12px;background-position:-296px -60px}
.sx_d29683{width:17px;height:16px;background-position:-292px -115px}
.sx_da4dbb{width:7px;height:14px;background-position:-0px -153px}
.sx_8e5001{width:7px;height:14px;background-position:-0px -123px}
.sx_adea00{width:11px;height:12px;background-position:-0px -23px}
.sx_f7d83c{width:22px;height:25px;background-position:-264px -267px}
.sx_cc87eb{width:22px;height:25px;background-position:-287px -267px}
.sx_7d54c0{width:16px;height:16px;background-position:-136px -312px}
.sx_44732b{width:16px;height:16px;background-position:-153px -312px}
.sx_3b36ec{width:10px;height:15px;background-position:-296px -15px}
.sx_6a6753{width:16px;height:16px;background-position:-170px -312px}
.sx_6a3890{width:13px;height:8px;background-position:-284px -102px}
.selected .sx_6a3890{background-position:-271px -102px}
.sx_7abe0e{background-position:-267px -187px}
.sx_f99a31{background-position:-89px -269px}
.sx_8265c8{background-position:-114px -269px}
.sx_a820ff{background-position:-139px -269px}
.sx_ffba40{background-position:-164px -269px}
.sx_1d13cc{background-position:-189px -269px}
.sx_def4d0{background-position:-214px -269px}
.sx_a73ce2{background-position:-267px -152px}
.sx_6ce6af{background-position:-267px -117px}
.sx_ef32fe{background-position:-271px -52px}
.sx_d1a026{background-position:-271px -17px}
.sx_1c84a7{background-position:-239px -269px}
.sx_cb3473{width:16px;height:16px;background-position:-285px -235px}
.sx_9ba1dd{width:16px;height:16px;background-position:-292px -200px}
.sx_5b9811{width:16px;height:16px;background-position:-292px -183px}
.sx_98b4c9{width:16px;height:16px;background-position:-292px -166px}
.sx_333f4e{width:16px;height:16px;background-position:-292px -149px}
.sx_901a6c{width:16px;height:16px;background-position:-292px -132px}
.sx_000b28{width:7px;height:4px;background-position:-304px -73px}
.sx_c799cd{width:7px;height:4px;background-position:-298px -102px}
.sx_14891a{width:103px;background-position:-0px -235px}
.sx_e10f60{width:103px;height:30px;background-position:-104px -235px}
.sx_a2737d{width:88px;height:44px;background-position:-0px -267px}
.sx_bee75c{width:9px;height:13px;background-position:-296px -46px}
.sx_98e1d0{width:22px;height:19px;background-position:-262px -235px}
.sp_bnh11e{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yo/r/3xTLuEjTbCv.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_733a82{background-position:-16px -0px}
.selected .sx_733a82{background-position:-0px -0px}
.sx_91bb18{background-position:-16px -17px}
.selected .sx_91bb18{background-position:-0px -17px}
.sx_b7bbaf{background-position:-16px -34px}
.selected .sx_b7bbaf{background-position:-0px -34px}
.sx_61fdb2{background-position:-16px -51px}
.selected .sx_61fdb2{background-position:-0px -51px}
.sx_68e06a{background-position:-16px -68px}
.selected .sx_68e06a{background-position:-0px -68px}
.sx_1b9a32{background-position:-0px -105px}
.sx_d210c8{height:19px;background-position:-0px -85px}
.sp_ctc6t6{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/ys/r/MGFEYISCL9r.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_0868d3{background-position:-16px -0px}
.selected .sx_0868d3{background-position:-0px -0px}
.sx_a8d061{background-position:-16px -17px}
.selected .sx_a8d061{background-position:-0px -17px}
.sx_9629c0{background-position:-16px -34px}
.selected .sx_9629c0{background-position:-0px -34px}
.sp_el286c{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/ya/r/rBFEQNekmzf.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_e023c6{height:10px;background-position:-119px -136px}
.sx_063417{width:11px;height:11px;background-position:-4px -8px}
.sx_014fe8{width:17px;height:17px;background-position:-0px -118px}
.sx_55e228{width:4px;height:8px;background-position:-191px -54px}
.sx_156df7{width:4px;height:8px;background-position:-191px -45px}
.sx_08da5f{width:4px;height:8px;background-position:-191px -36px}
.sx_867c11{width:4px;height:8px;background-position:-191px -27px}
.sx_d9409b{width:11px;height:7px;background-position:-162px -136px}
.sx_f06d2a{width:13px;height:14px;background-position:-0px -169px}
.sx_3bb425{height:14px;background-position:-51px -136px}
.sx_8af935{background-position:-138px -118px}
.sx_0c2d19{background-position:-121px -118px}
.sx_465d4a{background-position:-104px -118px}
.sx_11545f{width:9px;height:5px;background-position:-174px -136px}
.sx_86b345{height:17px;background-position:-53px -118px}
.sx_081d6e{background-position:-87px -118px}
.sx_d671df{height:15px;background-position:-17px -136px}
.sx_db65fb{height:10px;background-position:-102px -136px}
.sx_191146{width:13px;height:10px;background-position:-136px -136px}
.sx_6d6388{width:12px;height:11px;background-position:-43px -152px}
.sx_07a6a4{width:15px;height:13px;background-position:-14px -152px}
.sx_3b170c{width:10px;background-position:-189px -118px}
.sx_8c49d9{height:15px;background-position:-34px -136px}
.sx_f662c5{width:13px;background-position:-0px -152px}
.sx_b778f0{background-position:-70px -118px}
.sx_d24637{height:14px;background-position:-68px -136px}
.sx_b7283a{width:17px;height:17px;background-position:-18px -118px}
.sx_ca7639{height:15px;background-position:-0px -136px}
.sx_54c2fe{background-position:-155px -118px}
.sx_87a693{height:17px;background-position:-36px -118px}
.sx_15aa43{width:11px;height:9px;background-position:-150px -136px}
.sx_e09b93{background-position:-172px -118px}
.sx_6521c9{height:10px;background-position:-85px -136px}
.sx_dfe983{width:1px;height:1px;background-position:-196px -27px}
.sx_57d0ab{width:12px;height:12px;background-position:-30px -152px}
.sx_b5960f{width:5px;height:3px;background-position:-191px -63px}
.sx_7612ed{width:190px;height:90px;background-position:-0px -27px}

#bootloader_XEDb8 { height: 42px; }