.sp_7oxlar{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yZ/r/ru0FS0ehQBH.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_ee643e{height:10px;background-position:-119px -136px}
.sx_0c62b0{width:11px;height:11px;background-position:-4px -8px}
.sx_749bfb{width:17px;height:17px;background-position:-0px -118px}
.sx_b483d1{width:4px;height:8px;background-position:-191px -54px}
.sx_75a14f{width:4px;height:8px;background-position:-191px -45px}
.sx_85c6da{width:4px;height:8px;background-position:-191px -36px}
.sx_011ffb{width:4px;height:8px;background-position:-191px -27px}
.sx_71efd8{width:11px;height:7px;background-position:-162px -136px}
.sx_1d6e66{width:13px;height:14px;background-position:-0px -169px}
.sx_9245a4{height:14px;background-position:-51px -136px}
.sx_51afaa{background-position:-138px -118px}
.sx_de9f8c{background-position:-121px -118px}
.sx_cc8b86{background-position:-104px -118px}
.sx_5fde3c{width:9px;height:5px;background-position:-174px -136px}
.sx_4e65c4{height:17px;background-position:-53px -118px}
.sx_441d32{background-position:-87px -118px}
.sx_1fd1cf{height:15px;background-position:-17px -136px}
.sx_8817c0{height:10px;background-position:-102px -136px}
.sx_ef22ac{width:13px;height:10px;background-position:-136px -136px}
.sx_f3a1da{width:12px;height:11px;background-position:-43px -152px}
.sx_b23502{width:15px;height:13px;background-position:-14px -152px}
.sx_7ba765{width:10px;background-position:-189px -118px}
.sx_6d7989{height:15px;background-position:-34px -136px}
.sx_4ffe5e{width:13px;background-position:-0px -152px}
.sx_0706d6{background-position:-70px -118px}
.sx_b8ac8c{height:14px;background-position:-68px -136px}
.sx_78d984{width:17px;height:17px;background-position:-18px -118px}
.sx_e7cbad{height:15px;background-position:-0px -136px}
.sx_8ec79a{background-position:-155px -118px}
.sx_c17c28{height:17px;background-position:-36px -118px}
.sx_f842e5{width:11px;height:9px;background-position:-150px -136px}
.sx_56744a{background-position:-172px -118px}
.sx_9f2dc0{height:10px;background-position:-85px -136px}
.sx_ca713a{width:1px;height:1px;background-position:-196px -27px}
.sx_18a92c{width:12px;height:12px;background-position:-30px -152px}
.sx_ff1b16{width:190px;height:90px;background-position:-0px -27px}
.sp_bnh11e{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yh/r/nabXbrYiQiX.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_733a82{background-position:-16px -0px}
.selected .sx_733a82{background-position:-0px -0px}
.sx_91bb18{background-position:-16px -17px}
.selected .sx_91bb18{background-position:-0px -17px}
.sx_b7bbaf{background-position:-16px -34px}
.selected .sx_b7bbaf{background-position:-0px -34px}
.sx_61fdb2{background-position:-16px -51px}
.selected .sx_61fdb2{background-position:-0px -51px}
.sx_68e06a{background-position:-16px -68px}
.selected .sx_68e06a{background-position:-0px -68px}
.sx_1b9a32{background-position:-0px -105px}
.sx_d210c8{height:19px;background-position:-0px -85px}
.sp_ctc6t6{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yi/r/CoUN0NqHxMj.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_0868d3{background-position:-16px -0px}
.selected .sx_0868d3{background-position:-0px -0px}
.sx_a8d061{background-position:-16px -17px}
.selected .sx_a8d061{background-position:-0px -17px}
.sx_9629c0{background-position:-16px -34px}
.selected .sx_9629c0{background-position:-0px -34px}

#bootloader_mB5Xt { height: 42px; }