.localeSelectorList a.showMore{background-color:#eceff5;padding:0 6px 2px}
.localeSelectorList a.showMore:hover{background-color:#6d84b4;color:#fff;text-decoration:none}

#bootloader_Vfjij { height: 42px; }